# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/
dist/
dist-ssr/

# Arquivos locais e de ambiente
*.local
.env
.env.local
.env.*.local

# Configurações de IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Python (se houver backend em Python)
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
venv/